.userContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(247, 246, 246);
  border-radius: 50%;
  margin-right: 10px;
}
.menuText {
  color: rgb(114, 113, 113);
  margin-right: 20px;
}

.logoutLink {
  text-decoration: none;
  text-align: center;
  color: rgb(114, 113, 113);
  border: 1px solid #e10f5f;
  border-radius: 3px;
  width: 60px;
  padding: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutLink:hover,
.logoutLink:focus {
  background-color: #e10f5f;
  color: #fff;
}
